/ant.settings
/lib
/classes
/.classpath
/sootOutput
# IntelliJ IDEA project directory
.idea
*.iml
# Directory with .jars required to build Soot with IntelliJ IDEA
/libs_intellij
/javadoc
/reports
/testclasses
# Eclipse settings directory
/.settings

/target
