<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="ca.mcgill.sable.soot"
   name="Soot Plug-in"
   version="1.0.0"
   provider-name=""
   class="ca.mcgill.sable.soot.SootPlugin">

   <runtime>
      <library name="soot-plugin.jar"/>
      <library name="soot/classes/"/>
<!--<library name="sootclasses.jar"/>-->
	  <library name="myclasses/"/>
      <library name="jasminclasses-sable-1.2.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.core.boot"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.eclipse.swt"/>
   </requires>

   <extension point = "org.eclipse.ui.preferencePages">
       <page id="ca.mcgill.sable.soot.ui.SootPreference.Page1"
	    class="ca.mcgill.sable.soot.ui.SootMainClassPreferencePage"
            name="Soot Main Class">
       </page>
   </extension>
<!--<extension point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
         id="org.eclipse.jdt.ui.PackageExplorer.showclasses"
         name="ca.mcgill.sable.soot.ui.showclasses"
         description="Show Classes"
         viewId="org.eclipse.jdt.ui.PackageExplorer"
         class="ca.mcgill.sable.soot.ui.SootFileFilter"
         enabled="true">
      </filter>
   </extension> -->
   
   <extension point="org.eclipse.ui.markerImageProviders">
    <imageprovider id="ca.mcgill.sable.soot.sootAttributeProvider"
        markertype="ca.mcgill.sable.soot.sootattributemarker"
        icon="icons/soot_attribute.png">
    </imageprovider>
   </extension>
   
   <extension
         id="sootattributemarker"
         name="Soot Attribute Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.core.resources.bookmark">
      </super>
      <super
            type="org.eclipse.core.resources.taskmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   
   <extension point="org.eclipse.ui.markerResolution"> 
   	<markerResolutionGenerator 
      class="ca.mcgill.sable.soot.attributes.SootAttributeResolutionGenerator" 
      markerType="ca.mcgill.sable.soot.sootattributemarker"> 
       
   </markerResolutionGenerator> 
   
   </extension> 

   
   <extension
         point="org.eclipse.jdt.ui.javaEditorTextHovers">
      <hover
            class="ca.mcgill.sable.soot.attributes.SootAttributesJavaHover"
            id="ca.mcgill.sable.soot.attributes.SootAttributesJavaHover">
      </hover>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Jimple Editor"
            icon="icons/soot.png"
            extensions="jimple,grimp"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="ca.mcgill.sable.soot.editors.JimpleEditor"
            id="ca.mcgill.sable.soot.editors.JimpleEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Soot"
            id="ca.mcgill.sable.soot.ui.sootoutput.view">
      </category>
      <view
            name="Soot Output"
            category="ca.mcgill.sable.soot.ui.sootoutput.view"
            class="ca.mcgill.sable.soot.ui.SootOutputView"
            id="ca.mcgill.sable.soot.ui.sootoutputview.view">
      </view>
   </extension>
<!--<extension
         point="org.eclipse.ui.views">
      <category
            name="Soot"
            id="ca.mcgill.sable.soot.testing.optionstree.view">
      </category>
      <view
            name="Soot Options Tree"
            category="ca.mcgill.sable.soot.testing.optionstreeview.view"
            class="ca.mcgill.sable.soot.testing.OptionsTree"
            id="ca.mcgill.sable.soot.testing.optionstreeview.view">
      </view>
   </extension>-->
<!--<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Soot Testing"
            visible="true"
            id="ca.mcgill.sable.soot.testing.soot.actionSet">
         <menu
               label="Soot Testing"
               path="project/progEnd"
               id="ca.mcgill.sable.soot.testing.soot.sootMenu">
            <separator
                  name="slot1">
            </separator>
         </menu>
         <action
               label="Soot Testing Options Dialog"
               class="ca.mcgill.sable.soot.testing.SootTestingLauncher"
               menubarPath="project/ca.mcgill.sable.soot.testing.soot.sootMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.testing.action1">
         </action>
      </actionSet>
   </extension>-->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Soot"
            visible="true"
            id="ca.mcgill.sable.soot.launching.soot.actionSet">
         <menu
               label="Soot"
               path="project/progEnd"
               id="ca.mcgill.sable.soot.launching.soot.sootMenu">
            <separator
                  name="slot1">
            </separator>
         </menu>
         <action
               label="Test"
               class="ca.mcgill.sable.soot.launching.Test"
               menubarPath="project/ca.mcgill.sable.soot.launching.soot.sootMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.launchingactiontest">
         </action>
         <action
               label="%PopupMenus.action11"
               class="ca.mcgill.sable.soot.launching.SootConfigProjectLauncher"
               menubarPath="project/ca.mcgill.sable.soot.launching.soot.sootMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.launchingaction6">
         </action>
<!--<action
               label="%PopupMenus.action10"
               class="ca.mcgill.sable.soot.launching.SootSavedConfigProjectLauncher"
               menubarPath="project/ca.mcgill.sable.soot.launching.soot.sootMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.launchingaction5">
         </action>-->
         <action
               label="%PopupMenus.action4"
               class="ca.mcgill.sable.soot.launching.SootOptionsProjectLauncher"
               menubarPath="project/ca.mcgill.sable.soot.launching.soot.sootMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.launchingaction2">
         </action>
<!--<action
               label="%PopupMenus.action1"
               class="ca.mcgill.sable.soot.launching.SootDefaultProjectLauncher"
               menubarPath="project/ca.mcgill.sable.soot.launching.soot.sootMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.launching.action1">
         </action>-->
         <action
               label="%PopupMenus.action3"
               class="ca.mcgill.sable.soot.launching.DavaDecompileProjectLauncher"
               menubarPath="project/ca.mcgill.sable.soot.launching.soot.sootMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.launchingaction4">
         </action>
         <action
               label="%PopupMenus.action2"
               class="ca.mcgill.sable.soot.launching.SootJimpleProjectLauncher"
               menubarPath="project/ca.mcgill.sable.soot.launching.soot.sootMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.launchingaction3">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IPackageFragmentRoot"
            id="ca.mcgill.sable.soot.launching.soot.oc1">
         <menu
               label="Soot"
               path="additions"
               id="ca.mcgill.sable.soot.launching.soot.sootPopupMenu">
            <separator
                  name="slot1">
            </separator>
         </menu>
         <action
               label="%PopupMenus.action3"
               class="ca.mcgill.sable.soot.launching.DavaDecompileFolderLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction5">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.jimple"
            id="ca.mcgill.sable.soot.launching.soot.oc2">
         <menu
               label="Soot"
               path="additions"
               id="ca.mcgill.sable.soot.launching.soot.sootPopupMenu">
            <separator
                  name="slot1">
            </separator>
         </menu>
         <action
               label="%PopupMenus.action11"
               class="ca.mcgill.sable.soot.launching.SootConfigFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction10">
         </action>
<!--<action
               label="%PopupMenus.action11"
               class="ca.mcgill.sable.soot.launching.SootSavedConfigFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction11">
         </action>-->
         <action
               label="%PopupMenus.action4"
               class="ca.mcgill.sable.soot.launching.SootOptionsFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction4">
         </action>
<!--<action
               label="%PopupMenus.action9"
               class="ca.mcgill.sable.soot.launching.SootEverythingFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction9">
         </action>-->
         <action
               label="%PopupMenus.action8"
               class="ca.mcgill.sable.soot.launching.DavaDecompileAppFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction8">
         </action>
<!--<action
               label="%PopupMenus.action3"
               class="ca.mcgill.sable.soot.launching.DavaDecompileFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction3">
         </action>
         <action
               label="%PopupMenus.action7"
               class="ca.mcgill.sable.soot.launching.SootStaticExampleLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction7">
         </action>
         <action
               label="%PopupMenus.action6"
               class="ca.mcgill.sable.soot.launching.SootInliningExampleLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction6">
         </action>
         <action
               label="%PopupMenus.action1"
               class="ca.mcgill.sable.soot.launching.SootDefaultFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction1">
         </action>-->
         <action
               label="%PopupMenus.action5"
               class="ca.mcgill.sable.soot.launching.SootGrimpFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction5">
         </action>
         <action
               label="%PopupMenus.action2"
               class="ca.mcgill.sable.soot.launching.SootJimpleFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction2">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.jdt.core.IClassFile"
            id="ca.mcgill.sable.soot.launching.soot.oc3">
         <menu
               label="Soot"
               path="additions"
               id="ca.mcgill.sable.soot.launching.soot.sootPopupMenu">
            <separator
                  name="slot1">
            </separator>
         </menu>
         <action
               label="%PopupMenus.action11"
               class="ca.mcgill.sable.soot.launching.SootConfigFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction10">
         </action>
<!--<action
               label="%PopupMenus.action11"
               class="ca.mcgill.sable.soot.launching.SootSavedConfigFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction11">
         </action>-->
         <action
               label="%PopupMenus.action4"
               class="ca.mcgill.sable.soot.launching.SootOptionsFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction4">
         </action>
<!--<action
               label="%PopupMenus.action9"
               class="ca.mcgill.sable.soot.launching.SootEverythingFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction9">
         </action>-->
         <action
               label="%PopupMenus.action8"
               class="ca.mcgill.sable.soot.launching.DavaDecompileAppFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction8">
         </action>
<!--<action
               label="%PopupMenus.action3"
               class="ca.mcgill.sable.soot.launching.DavaDecompileFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction3">
         </action>
         <action
               label="%PopupMenus.action7"
               class="ca.mcgill.sable.soot.launching.SootStaticExampleLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction7">
         </action>
         <action
               label="%PopupMenus.action6"
               class="ca.mcgill.sable.soot.launching.SootInliningExampleLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction6">
         </action>
         <action
               label="%PopupMenus.action1"
               class="ca.mcgill.sable.soot.launching.SootDefaultFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction1">
         </action>-->
         <action
               label="%PopupMenus.action5"
               class="ca.mcgill.sable.soot.launching.SootGrimpFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction5">
         </action>
         <action
               label="%PopupMenus.action2"
               class="ca.mcgill.sable.soot.launching.SootJimpleFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction2">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.jdt.core.ICompilationUnit"
            id="ca.mcgill.sable.soot.launching.soot.oc3">
         <menu
               label="Soot"
               path="additions"
               id="ca.mcgill.sable.soot.launching.soot.sootPopupMenu">
            <separator
                  name="slot1">
            </separator>
         </menu>
         <action
               label="%PopupMenus.action21"
               class="ca.mcgill.sable.soot.launching.SootConfigFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction10">
         </action>
         <action
               label="%PopupMenus.action22"
               class="ca.mcgill.sable.soot.launching.SootOptionsFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction4">
         </action>
         <action
               label="%PopupMenus.action23"
               class="ca.mcgill.sable.soot.launching.DavaDecompileAppFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction8">
         </action>
         <action
               label="%PopupMenus.action25"
               class="ca.mcgill.sable.soot.launching.SootGrimpFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction5">
         </action>
         <action
               label="%PopupMenus.action24"
               class="ca.mcgill.sable.soot.launching.SootJimpleFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction2">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.class"
            id="ca.mcgill.sable.soot.launching.soot.oc4">
         <menu
               label="Soot"
               path="additions"
               id="ca.mcgill.sable.soot.launching.soot.sootPopupMenu">
            <separator
                  name="slot1">
            </separator>
         </menu>
         <action
               label="%PopupMenus.action11"
               class="ca.mcgill.sable.soot.launching.SootConfigFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction10">
         </action>
<!--<action
               label="%PopupMenus.action11"
               class="ca.mcgill.sable.soot.launching.SootSavedConfigFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction11">
         </action>-->
         <action
               label="%PopupMenus.action4"
               class="ca.mcgill.sable.soot.launching.SootOptionsFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction4">
         </action>
<!--<action
               label="%PopupMenus.action9"
               class="ca.mcgill.sable.soot.launching.SootEverythingFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction9">
         </action>-->
         <action
               label="%PopupMenus.action8"
               class="ca.mcgill.sable.soot.launching.DavaDecompileAppFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction8">
         </action>
<!--<action
               label="%PopupMenus.action3"
               class="ca.mcgill.sable.soot.launching.DavaDecompileFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction3">
         </action>
         <action
               label="%PopupMenus.action7"
               class="ca.mcgill.sable.soot.launching.SootStaticExampleLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction7">
         </action>
         <action
               label="%PopupMenus.action6"
               class="ca.mcgill.sable.soot.launching.SootInliningExampleLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction6">
         </action>
         <action
               label="%PopupMenus.action1"
               class="ca.mcgill.sable.soot.launching.SootDefaultFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction1">
         </action>-->
         <action
               label="%PopupMenus.action5"
               class="ca.mcgill.sable.soot.launching.SootGrimpFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction5">
         </action>
         <action
               label="%PopupMenus.action2"
               class="ca.mcgill.sable.soot.launching.SootJimpleFileLauncher"
               menubarPath="ca.mcgill.sable.soot.launching.soot.sootPopupMenu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.popupaction2">
         </action>
      </objectContribution>
   </extension>

</plugin>
