<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="ca.mcgill.sable.graph"
   name="Graph Plug-in"
   version="2.2.2"
   provider-name=""
   class="ca.mcgill.sable.graph.GraphPlugin">

   <runtime>
      <library name="graph.jar">
        <export name="*"/>
       </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.boot"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.draw2d"/>
      <import plugin="org.eclipse.gef"/>
   </requires>

	<!--<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Testing"
            visible="true"
            id="ca.mcgill.sable.testing.actionSet">
         <menu
               label="Testing"
               path="project/progEnd"
               id="ca.mcgill.sable.graph.testing.menu">
            <separator
                  name="slot1">
            </separator>
         </menu>
         <action
               label="Testing"
               class="ca.mcgill.sable.graph.testing.GraphGenerator"
               menubarPath="project/ca.mcgill.sable.graph.testing.menu/slot1"
               enablesFor="+"
               id="ca.mcgill.sable.soot.testing.action1">
         </action>
      </actionSet>
   </extension>-->
	<extension
         point="org.eclipse.ui.editors">
      <editor
            name="Graph Editor"
            icon="icons/soot.png"
            extensions="gph"
            contributorClass="ca.mcgill.sable.graph.actions.GraphActionBarContributor"
            class="ca.mcgill.sable.graph.GraphEditor"
            id="ca.mcgill.sable.graph.GraphEditor">
      </editor>
   </extension>
</plugin>
